/*
 *= require admin/spree_core
 *= require formtastic
*/

.formtastic input, .formtastic textarea, .formtastic select {
	font-size: 100%;
	padding: 5px;
}

.formtastic button {
	margin: 0;
	padding: 0 20px 0 0;
}
.formtastic button:hover {
	text-shadow: #FFFFFF -1px -1px 0px;
}